* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto' serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    display: flex;
}
.header {
    padding: 19px 0;
   
}
.header__wrapper {
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
}
.header__nav-menu {
    display: flex;
    align-items: center;
}
