* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}